.woocommerce-MyAccount-navigation,
.woocommerce-MyAccount-content
  background-color: $dark-grey !important
  border-radius: 0px
  overflow: hidden
  border: 1px solid $border-grey !important
  padding: 20px

.woocommerce-MyAccount-navigation

  ul
    li
      a
        color: $white !important
        border-bottom: 1px solid $border-grey !important

        &:hover
          color: $white !important
          background-color: $red !important

    .is-active
      a
        background: none
        color: $red

.woocommerce-MyAccount-content

  table
    th,
    td
      border: none
      color: $white

      a
        text-decoration: underline

  table thead
        background: none
        color: $white

.woocommerce-pagination
  a
    text-decoration: underline

    &:hover
      background-color: transparent !important

.evotx_event
  background-color: $dark-grey
  margin-bottom: 10px
  padding: 20px
  border-radius: 0px !important
  border: 1px dotted #606062

  &.past
    background-color: $dark-grey !important

  .evotx_event_tickets
    .evotx_tb
      span
        .evotx_view_ticket
          margin-bottom: 20px

.event_description
  .evocard_row
    border-bottom: solid 1px #333

.evotx_view_ticket
  .fa-eye
    display: none !important

.evotx_tb span
  padding-bottom: 10px

.col2-set
  background-color: transparent !important

.woocommerce-form-register
  button
    .woocommerce-Button
      color: $white !important
      background-color: $red
      margin-bottom: 32px
      padding: 8px 54px

  &:hover
    background-color: transparent
    color: $red !important

.woocommerce-form-login,
.woocommerce-form-register
  background-color: $dark-grey !important
  border-radius: 0px
  overflow: hidden
  border: 1px solid $border-grey !important

.woocommerce-form-register button.woocommerce-Button
  color: $white !important
  background-color: $red !important
  padding: 8px 54px

  &:hover
    background-color: #a21714 !important

.woocommerce-account
  h2
    font-size: 20px

.the_champ_social_login_title
  margin-bottom: 16px

  & code
    font-family: $secondary-font
    font-size: 18px
    font-weight: 400
    color: $white
    text-transform: uppercase

.the_champ_login_container
  margin-bottom: 40px

.heateor_ss_sl_optin_container
  width: 500px
  margin: 0 auto

  code
    label
      font-family: $primary-font
      font-size: 14px !important
      text-wrap: balance
      color: $white

  a
    color: $red !important

.heateor_ss_social_login_optin
  margin-right: 10px

body
  .wpuf-message
    background: $red !important
    font-family: '$primary-font'
    text-align: center
    border: none !important
    color: $white !important

#wpuf-login-form
  code
    white-space: normal

  a
    font-family: $primary-font !important
    font-size: 15px !important
    text-decoration: underline !important
