.ajde_evcal_calendar

  .eventon_list_event.hasbgimg,
  .boxy.boxstyle1 .evo_boxtop,
  .boxy.boxstyle2 .evo_boxtop,
  .boxy.boxstyle1 #evcal_list .eventon_list_event .desc_trig
    border-radius: 0 !important

  .boxy.boxstyle1.tbg1 #evcal_list .eventon_list_event .desc_trig
    background-color: $dark-grey !important

    .evcal_desc
      margin-bottom: 20px !important

  .evoShow_more_events
    border-radius: 0

.evo_events_list_box
  // gap: 20px

  > div
    border: none !important

  .evo_eventtop .evcal_list_a
    background-color: $dark-grey !important
    flex-direction: row
    gap: 20px

    .evoet_title
      font-size: 24px !important

    .evo_start
      flex-direction: column !important

    .evcal_desc,
    .evoet_time_expand
      align-items: flex-start !important

    .evcal_location
      color: white !important
      font-size: 14px !important

    .evoet_c2
      width: auto

.ajde_evcal_calendar.boxy.boxstyle1 .evo_boxtop
  margin: 0 !important

.evcal_cblock
  .evo_start .year,
  .evo_start .date,
  .evo_start .month,
  .evo_start .day
    color: red !important
    font-size: 18px !important
    opacity: 1 !important

#home-page
  #evcal_list
    border: none !important

    .evcal_location,
    .evcal_location em
      color: $white !important
      font-size: 14px !important
      margin-top: 14px
      text-wrap: balance

    .evcal_oganizer
      justify-content: center
      & em i
        color: $white !important

    .evcal_time
      font-size: 14px !important
      flex-direction: column

    .evo_start
      display: flex !important
      flex-direction: row !important
      gap: 5px
      align-items: center

    .evoet_dayblock
      width: 300px !important

    // .evoet_cx
    //   margin-right: 0px !important

    .evoet_title
      font-size: 20px !important
      line-height: 28px !important
      text-wrap: balance !important
      text-align: left
      width: 320px
      padding-bottom: 16px !important

      .evo_endday
        display: none

    .eventon_list_event .evoet_cx em,
    .evo_lightboxes .evoet_cx em
      color: $white

    .evcal_oganizer
      margin-top: 10px

      .evoet_dataval
        color: $white !important

    .eventon_list_event a:hover
      border: 0 !important

.evoet_cx
  .evoet_time_expand .evcal_time i.fa,
  .evoet_location .evcal_location i.fa
    color: $red !important
    display: none

.evcal_cblock .year
  opacity: 1 !important

.evoet_dayblock
  .evo_start .year,
  .evo_start .day,
  .evo_start .date,
  .evo_start .month
    color: $gold !important

.eventon_events_list .eventon_list_event .evoet_cx .level_3.evoet_time_expand
  flex-direction: column

.boxy .evoet_cx .evo_epbar_o
  background-color: #282828 !important
  border-radius: 5px !important

#evcal_widget #evcal_list .eventon_list_event .evcal_list_a
  border: 1px solid $border-grey !important
  padding-top: 220px !important
  padding-left: 18px !important
  padding-right: 18px !important

.eventon_events_list
  .evoShow_more_events
    border-radius: 0 !important
    span
      background-color: $dark-grey !important
      border: 10px solid transparent

.ajde_evcal_calendar.boxy .eventon_list_event .evcal_list_a
  gap: 0 !important

.widget .eventon_events_list .eventon_list_event .evoet_cx
  margin-bottom: 40px

// @media only screen and (min-width: 768px)
//   #evcal_list
//     max-width: 800px !important
