button
  border-radius: 4px !important

.evcal_btn
  border-radius: 4px !important
  line-height: 16px !important

// NavBar

.cm-primary-nav ul > li:hover > a,
.cm-primary-nav ul ul.sub-menu,
.cm-layout-2 .cm-primary-nav ul > li > a
  border: none !important

  & li
    border-bottom: none !important

.current-menu-parent
  background: none !important

.cm-header-1 .cm-row
  display: none

#cm-primary-nav
  height: 70px
  display: flex
  align-items: center
  background-color: #fff !important
  border-bottom: none !important

  li
    padding: 0 16px

  .current-menu-ancestor a
    color: #fff !important

.cm-primary-nav .cm-container
  width: 100%

.menu-logo img
  height: 56px !important
  min-width: 100px

.cm-menu-toggle
  position: absolute
  right: 60px

.dark-skin .cm-layout-2
  .cm-primary-nav ul > li > a
    color: #000 !important

  .sub-menu li
    &:hover
      background-color: burlywood !important

    a
      &:hover
        border-bottom: none !important

  #cm-primary-nav
    border-top: none

  .cm-primary-nav a
    color: black !important

  .cm-primary-nav .cm-submenu-toggle .cm-icon
    fill: #ff0000

  .cm-primary-nav ul li:hover, .cm-primary-nav ul li.focus
    background-color: transparent

  .cm-primary-nav ul li:hover > ul, .cm-primary-nav ul li.focus > ul
    left: 0
    background-color: white

  .cm-primary-nav ul li ul li:hover
    color: #fff
    background-color: burlywood

@media only screen and (max-width: 767px)
  #cm-primary-nav .cm-container
    width: 100%
