.top-full-width-sidebar
  max-width: 100%
  margin-top: -20px

  .cm-slider
    height: 600px

    .bx-viewport
      height: 600px !important

      .cm-single-slide
        height: 600px
      @media (max-width: 1088px)

        img
          object-fit: cover
          object-position: top
          height: 100vh

.cm-front-page-top-section
  @media (min-width: 992px)
    gap: 30px

.cm-slider-area
  @media (min-width: 992px)
    width: 65%

  @media (min-width: 1168px)
    width: 100%

.widget_block

  .wp-block-separator
    width: 100% !important
    margin: 40px 0 !important
    background-color: $border-grey !important

.cm-advertisement-content img
  width: 100%

.cm-widget-title

  span
    padding: 6px 12px
    font-size: 18px

.header-image
  border-bottom: none !important

.cm-beside-slider-widget
  padding-left: 0 !important

.cm-featured-category-slider .cm-below-entry-meta
  display: none

.cm-featured-category-slider .cm-slide-content,
.cm-slider-area-rotate .cm-slide-content
  background: linear-gradient(180deg, rgba(35, 35, 35, 0) 0%, #121111 100%)

.cm-post-categories a
  background-color: $red

.bx-controls
  display: none

.cm-beside-slider-widget,
.cm-secondary
  @media (min-width: 992px)
    margin-left: 20px

// @media (min-width: 1024px)
//   .cm-primary
//     margin-right: 40px

@media (min-width: 48em)
  #colormag_featured_posts_slider_widget-9
    .cm-featured-category-slider
      .cm-entry-title
        width: 65%
        font-size: 5.4rem
        text-transform: uppercase
        text-wrap: balance
        margin-bottom: 40px

      .cm-slide-content
        padding: 24px 24px 68px
