.widget_block

  .wp-block-separator
    width: 100% !important
    margin: 40px 0 !important
    background-color: #71717a !important

.cm-advertisement-content img
  width: 100%

.cm-widget-title

  span
    padding: 6px 12px
    font-size: 18px

.header-image
  border-bottom: none !important

.cm-beside-slider-widget
  padding-left: 0 !important

@media (min-width: 1024px)
  .cm-primary
    margin-right: 40px

  .cm-beside-slider-widget
    padding-left: 40px !important
