.cm-post-content
    p
        margin-bottom: 24px

.cm-post-content
    background-color: $dark-grey

.cm-featured-posts
    .cm-first-post
        .cm-entry-title
            font-size: 20px

.wp-caption-text
    color: $white

.theChampCommentingTabs
    .comment-reply-title,
    .logged-in-as
        color: $white

    .theChampSelectedTab
        color: $white
        border-bottom: 2px solid $red
