.evosliderbox.ajde_evcal_calendar.multiSlider .hasbgimg.eventon_list_event
  background-color: $dark-grey !important

  .evcal_cblock
    align-items: center

.evosliderbox.ajde_evcal_calendar.multiSlider .hasbgimg.eventon_list_event .evcal_list_a
  background-color: $dark-grey !important

  .evoet_c2
    width: 100%

  .evoet_title
    font-size: 20px !important

  .evcal_time
    font-size: 14px !important
